body{
    background-color: darkgreen;
}

.Alice-Cards{
    display: flex;
    direction: row;
}

.Bob-Cards{
    display: flex;
    direction: row;
}

.card{
    height: 200;
    width: 120;
    margin: 10px 10px;
}
